@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, #root {
  margin: 0;
  padding: 0;
  --main-font: "Poppins";
  font-family: var(--main-font);
}

.header-container {
  display: flex;
  background-color: white;
  box-shadow: 10px 1px 10px black;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  top: 0;
  position: sticky;
  z-index: 2;

}


.nav-list, .icon-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li, .icon-list li{
  padding: 10px;
}

.hero-container {
  padding: 1px;
  height: 100vh;
  background-image: url(./assets/profile.PNG),url(https://cdn.stocksnap.io/img-thumbs/960w/colorful-bokeh_22FXPJXGDA.jpg);
  background-repeat: no-repeat;
  background-size: 70vh, cover;
  background-position: bottom, center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color:inherit
}

.hero-container {
  color: white;
}

.hero-text-container {
  position: relative;
  max-width: 1000px; /* Limit width */
  margin: 0 auto; /* Center the container horizontally */
  
}

.skills-container {
  height: 20vh;
  display: flex;
  align-items: center;
}

.skills-container > ul {
  list-style: none;
}

.projects-container {
  height: 100vh;
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/colorful-bokeh_22FXPJXGDA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  color: skyblue;
}

.nav-list a.active {
  color: skyblue; /* Change to whatever color you want */
}

.contact-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  scroll-margin-top: 50px;
}
