@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}
body, #root {
  margin: 0;
  padding: 0;
  --main-font: "Poppins";
  font-family: var(--main-font);
}

.header-container {
  display: flex;
  background-color: white;
  box-shadow: 10px 1px 10px black;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  top: 0;
  position: sticky;
  z-index: 2;

}


.nav-list, .icon-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li, .icon-list li{
  padding: 10px;
}

.hero-container {
  padding: 1px;
  height: 100vh;
  background-image: url(./assets/profile.PNG),url(https://cdn.stocksnap.io/img-thumbs/960w/colorful-bokeh_22FXPJXGDA.jpg);
  background-repeat: no-repeat;
  background-size: 70vh, cover;
  background-position: bottom, center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color:inherit;
  text-decoration: none;
}

.hero-container {
  color: white;
}

.hero-text-container {
  position: relative;
  max-width: 1000px; /* Limit width */
  margin: 0 auto; /* Center the container horizontally */
  
}

.skills-container {
  height: 20vh;
  display: flex;
  align-items: baseline;
  min-height: 100vh;
  background-color: #111;
  color: white;
  flex-direction: column;
}

.skills-container h1 {
  font-size: 2rem;
  align-self: center;
}

.skills-sidebar {
  flex-basis: 200px;
}

.skills-container ul {
  list-style: none;
  padding: 0;
}
.skills-container ul li {
  background-color: #333;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.projects-container {
  height: 100vh;
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/colorful-bokeh_22FXPJXGDA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  scroll-margin-top: 50px;
  align-items: center;
  flex-direction: column;

}
.projects-container >h1 {
  font-size: 2rem;
}



.hero-text-container > a {
  text-decoration: underline;
  color: hsl(45, 100%, 52%);
}
.hero-text-container > a:hover {
  color: hsl(45, 100%, 72%);
}

a:hover {
  color: skyblue;
}

.nav-list a.active {
  color: skyblue; /* Change to whatever color you want */
}




.embla {
  width: 60rem;
  max-width: 60rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__button:active {
  color:skyblue;
}
.embla__button__svg:active {
  color:skyblue;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem white; /* Replace with a solid color to test */
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem skyblue; /* Replace with a solid color for the selected state */
}


/*Form styling */
.contact-container {
  min-height: 100vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  scroll-margin-top: 50px;
  flex-direction: column;
  align-items: center;
  color: skyblue;
}

.contact-container > h1 {
  font-size: 2rem;
}

.contact-form-container {
  display: flex;
  padding: 100px;
 
}

.contact-left-section {
  background-color: hsl(197, 71%, 63%);
  color: white;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 8px  rgb(178, 205, 255); 
  background-image: url(./assets/website-dog.png); /*THIS PHOTO WAS GENERATED BY CHAT GPT AND ALL RIGHTS BELONG TO IT. */
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom right;
}

.contact-left-section > p > a {
  color: white;
  text-decoration: underline;
  
}

.contact-left-section > p > a:hover {
  color: rgb(252, 210, 71);
  text-decoration: underline;
}



.contact-right-section {
  width: 55%;
  padding: 20px;
}

.contact-right-section h2 {
  color: skyblue;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

.send-message-button {
  background-color: hsl(197, 71%, 63%);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-message-button:hover {
  background-color: hsl(197, 71%, 83%);
}

